@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}

.loginForm {
 margin: 10vh auto 0 auto;
 display: flex;
 flex-direction: column;
 max-width: 20vh;
}

.buttonContainer {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 max-width: 20vh;
}

.button {
 background: #888;
 color: #fff;
 border: 1px solid black;
 margin-bottom: 0.25vh;
 min-height: 3.5vh;
}

.button:hover {
 background: #777;
 color: #fff;
 border: 1px solid black;
}

.buttonContainerNc {
 display: flex;
 margin: 2.5vh;
 max-width: 20vh;
 min-width: 10vh;
}

.left {
 flex: 1;
}


.loginForm>input {
 margin-bottom: 0.25vh;
 min-height: 3.5vh;
}

.loginForm>input[type='text'],
.loginForm>input[type='password'] {
 padding: 5px;
}
